<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id = "0">
        <origin xyz="-4.668392 0.0 0" rpy="0 0 0" />
    </xacro:thruster_macro>
    
    <xacro:front_fin_macro namespace="${namespace}" fin_id="0" mesh_filename="${front_fin_mesh_file}">
        <!--<origin xyz="2.168598 0.4569450 0.27093419" rpy="0 0 0" />-->
        <!--<origin xyz="2.168598 -0.4569450 0.27093419" rpy="${0.5 * pi} 0 0" />-->
        <origin xyz="2.168598 -0.4569450 0.0" rpy="${0.5 * pi} 0 0" />
    </xacro:front_fin_macro>
    
    <xacro:front_fin_macro namespace="${namespace}" fin_id="1" mesh_filename="${front_fin_mesh_file}">
        <!--<origin xyz="2.168598 -0.4569450 0.27093419" rpy="${1.0 * pi} 0 0" />-->
        <!--<origin xyz="2.168598 0.4569450 0.27093419" rpy="${1.5 * pi} 0 0" />-->
        <origin xyz="2.168598 0.4569450 0.0" rpy="${1.5 * pi} 0 0" />
    </xacro:front_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="2" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-3.4129751 0.46646423 0.05598445" rpy="0 0 0" />-->
        <!--<origin xyz="-3.4129751 0.46646423 0.05598445" rpy="${0.5 * pi} 0 0" />-->
        <origin xyz="-3.4129751 0.46646423 0.0" rpy="${0.5 * pi} 0 0" />
    </xacro:aft_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="3" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-3.4129751 0 0.40526605" rpy="0 0 0" />-->
        <origin xyz="-3.4129751 0 0.40526605" rpy="${1.0 * pi} 0 0" />
    </xacro:aft_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="4" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-3.4129751 -0.46646423 0.05598445" rpy="${1.0 * pi} 0 0" />-->
        <!--<origin xyz="-3.4129751 -0.46646423 0.05598445" rpy="${1.5 * pi} 0 0" />-->
        <origin xyz="-3.4129751 -0.46646423 0.0" rpy="${1.5 * pi} 0 0" />
    </xacro:aft_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="5" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-3.4129751 0 -0.40526605" rpy="${1.0 * pi} 0 0" />-->
        <origin xyz="-3.4129751 0 -0.40526605" rpy="${0.0 * pi} 0 0" />
    </xacro:aft_fin_macro>

</robot>
