<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id = "0">
        <!--<origin xyz="-20.432 0.0 0.1958" rpy="0 0 0" />-->
        <origin xyz="-1.842 0.0 0" rpy="0 0 0" />
    </xacro:thruster_macro>
    
    <xacro:front_fin_macro namespace="${namespace}" fin_id="0" mesh_filename="${front_fin_mesh_file}">
        <!--<origin xyz="10.2108 -2.3958 -1.3989" rpy="${0.5 * pi} 0 0" />-->
        <origin xyz="0.528 -0.201 0" rpy="${0.5 * pi} 0 0" />
    </xacro:front_fin_macro>
    
    <xacro:front_fin_macro namespace="${namespace}" fin_id="1" mesh_filename="${front_fin_mesh_file}">
        <!--<origin xyz="10.2108 2.3958 -1.3989" rpy="${1.5 * pi} 0 0" />-->
        <origin xyz="0.528 0.201 0" rpy="${1.5 * pi} 0 0" />
    </xacro:front_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="2" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-16.583 2.2397 -0.4013" rpy="${0.5 * pi} 0 0" />-->
        <origin xyz="-1.537 0.136 0" rpy="${0.5 * pi} 0 0" />
    </xacro:aft_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="3" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-16.583 0.0 2.25677" rpy="${1.0 * pi} 0 0" />-->
        <origin xyz="-1.537 0 0.136" rpy="${1.0 * pi} 0 0" />
    </xacro:aft_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="4" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-16.583 -2.2397 -0.4013" rpy="${1.5 * pi} 0 0" />-->
        <origin xyz="-1.537 -0.136 0" rpy="${1.5 * pi} 0 0" />
    </xacro:aft_fin_macro>
    
    <xacro:aft_fin_macro namespace="${namespace}" fin_id="5" mesh_filename="${aft_fin_mesh_file}">
        <!--<origin xyz="-16.583 0.0 -2.25677" rpy="${0.0 * pi} 0 0" />-->
        <origin xyz="-1.537 0 -0.136" rpy="${0.0 * pi} 0 0" />
    </xacro:aft_fin_macro>

</robot>
