<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="propeller_mesh_file" value="file://$(find O_29qt)/meshes/propeller.dae" />
    
    <xacro:macro name="thruster_macro" params="robot_namespace thruster_id *origin">
        <link name="${robot_namespace}/thruster_${thruster_id}">
            <visual>
                <geometry>
                    <mesh filename="${propeller_mesh_file}" scale="0.2 0.2 0.2" />
                </geometry>
            </visual>

            <inertial>
                <mass value="0.001" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <inertia ixx="0.000000001" ixy="0.0" ixz="0.0"
                    iyy="0.000000001" iyz="0.0"
                    izz="0.000000001" />
            </inertial>
        </link>

        <joint name="${robot_namespace}/thruster_${thruster_id}_joint" type="continuous">
            <xacro:insert_block name="origin" />
            <axis xyz="1 0 0" />
            <parent link="${robot_namespace}/base_link" />
            <child link="${robot_namespace}/thruster_${thruster_id}" />
        </joint>

        <gazebo>
            <!-- Thruster ROS plugin -->
            <plugin name="${robot_namespace}_${thruster_id}_thruster_model" filename="libuuv_thruster_ros_plugin.so">
                <!-- Name of thruster link -->
                <linkName>${robot_namespace}/thruster_${thruster_id}</linkName>
                
                <!-- Name of the joint between thruster and vehicle base link -->
                <jointName>${robot_namespace}/thruster_${thruster_id}_joint</jointName>
                
                <!-- Make the thruster aware of its own id -->
                <thrusterID>${thruster_id}</thrusterID>
                
                <!-- Gain of the input command signal -->
                <gain>1</gain>
                
                <!-- Maximum allowed input value for the input signal for thruster unit -->
                <clampMax>2500</clampMax>
                
                <!-- Minimum allowed input value for the input signal for thruster unit -->
                <clampMin>-2500</clampMin>
                
                <!-- Maximum thrust force output allowed -->
                <thrustMax>26338.811</thrustMax>
                
                <!-- Minimum thrust force output allowed -->
                <thrustMin>-26338.811</thrustMin>
                
                <!--
                Value from 0 to 1 to set the efficiency of the output thrus
                Default value is 1.0
                -->
                <thruster_efficiency>1</thruster_efficiency>
                
                <!--
                Value from 0 to 1 to set the efficiency of the propeller a
                to be multiplied to the current value of the state variabl
                iteration.
                Default value is 1.0
                -->
                <propeller_efficiency>1</propeller_efficiency>
                
                <dynamics>
                    <type>FirstOrder</type>
                    <timeConstant>0.05</timeConstant>
                </dynamics>
                
                <!-- <conversion>
                    <type>Basic</type>
                    <rotorConstant>0.0002</rotorConstant>
                </conversion> -->
                
                <!-- Linear interpolation
                If you have access to the thruster's data sheet, for examp
                you can enter samples of the curve's input and output valu
                and the thruster output will be found through linear inter
                of the given samples.
                -->
                <!--<conversion>
                    <type>Basic</type>
                    <rotorConstant>0.1</rotorConstant>
                </conversion>-->
                <conversion>
                    <type>LinearInterp</type>
                    <inputValues>0 500 1000 1500 2000 2500</inputValues>
                    <outputValues>0 1053.5524 4214.2097 9481.9719 16856.839 26338.811</outputValues>
                </conversion>

            </plugin>
        </gazebo>

        <gazebo reference="${robot_namespace}/thruster_${thruster_id}">
            <selfCollide>false</selfCollide>
        </gazebo>
    </xacro:macro>    

    <!-- MACRO FOR FIN/RUDDER UNITS  -->

  <!-- A separate mesh for the fin should be stored in the meshes folder -->
  <xacro:property name="front_left_fin_mesh_file" value="file://$(find O_29qt)/meshes/0.21/front_fin_left_0.21.dae"/>
  <xacro:property name="front_right_fin_mesh_file" value="file://$(find O_29qt)/meshes/0.21/front_fin_right_rev_0.21.dae"/>
  <xacro:property name="back_left_fin_mesh_file" value="file://$(find O_29qt)/meshes/0.21/back_fin_left_0.21.dae"/>
  <xacro:property name="back_right_fin_mesh_file" value="file://$(find O_29qt)/meshes/0.21/back_fin_right_0.21.dae"/>
  <xacro:property name="back_up_fin_mesh_file" value="file://$(find O_29qt)/meshes/0.21/back_fin_up_0.21.dae"/>
  <xacro:property name="back_down_fin_mesh_file" value="file://$(find O_29qt)/meshes/0.21/back_fin_down_0.21.dae"/>
  <xacro:property name="backup_front_fin_mesh_file" value="file://$(find armsauv_description)/meshes/front_fin.dae"/>
  <xacro:property name="backup_back_fin_mesh_file" value="file://$(find armsauv_description)/meshes/aft_fin.dae"/>

  <!-- Fin properties -->
  <xacro:property name="fin_rho" value="1025"/>

  <!--<xacro:property name="front_fin_area" value="0.0127"/>-->
  <xacro:property name="front_fin_area" value="0.116615"/>
  <!--<xacro:property name="front_fin_lift_coefficient" value="3.416017484"/>-->
  <!--<xacro:property name="front_fin_lift_coefficient" value="1.668475641"/>
  <xacro:property name="front_fin_drag_coefficient" value="0.26542681"/>-->
  <xacro:property name="front_fin_lift_coefficient" value="1.668475641"/>
  <xacro:property name="front_fin_drag_coefficient" value="0.26542681"/>
  
  <xacro:macro name="front_left_fin_macro" params="namespace fin_id *origin mesh_filename">
      <xacro:hor_left_fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link" fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * front_fin_area * front_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * front_fin_area * front_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:hor_left_fin_quadratic_macro>
  </xacro:macro>

  <xacro:macro name="front_right_fin_macro" params="namespace fin_id *origin mesh_filename">
      <xacro:hor_right_fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link" fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * front_fin_area * front_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * front_fin_area * front_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:hor_right_fin_quadratic_macro>
  </xacro:macro>
  
  <!--<xacro:property name="aft_fin_area" value="2.656049"/>-->
  <!--<xacro:property name="aft_fin_area" value="0.0172"/>-->
  <xacro:property name="aft_fin_area" value="0.106243"/>
  <!--<xacro:property name="aft_fin_lift_coefficient" value="3.290443227"/>
  <xacro:property name="aft_fin_drag_coefficient" value="0.269448395"/>-->
  <xacro:property name="aft_fin_lift_coefficient" value="1.74975211"/>
  <xacro:property name="aft_fin_drag_coefficient" value="0.269448395"/>

  <xacro:macro name="back_left_fin_macro" params="namespace fin_id *origin mesh_filename"> <xacro:hor_left_fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:hor_left_fin_quadratic_macro>
  </xacro:macro>
  
  <xacro:macro name="back_right_fin_macro" params="namespace fin_id *origin mesh_filename">
      <xacro:hor_right_fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:hor_right_fin_quadratic_macro>
  </xacro:macro>
  
  <xacro:macro name="back_up_fin_macro" params="namespace fin_id *origin mesh_filename">
      <xacro:lat_up_fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:lat_up_fin_quadratic_macro>
  </xacro:macro>

  <xacro:macro name="back_down_fin_macro" params="namespace fin_id *origin mesh_filename">
      <xacro:lat_down_fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:lat_down_fin_quadratic_macro>
  </xacro:macro>

  <xacro:macro name="front_fin_macro" params="namespace fin_id *origin mesh_filename">
      <xacro:fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * front_fin_area * front_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * front_fin_area * front_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:fin_quadratic_macro>
  </xacro:macro>

  <xacro:macro name="aft_fin_macro" params="namespace fin_id *origin mesh_filename">
      <xacro:fin_quadratic_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        fin_id="${fin_id}"
        min_joint_limit="${-90.0 * d2r}"
        max_joint_limit="${90.0 * d2r}"
        mesh_filename="${mesh_filename}"
        fin_dynamics_time_constant="0.2"
        lift_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_lift_coefficient}"
        drag_constant="${0.5 * fin_rho * aft_fin_area * aft_fin_drag_coefficient}"
        current_velocity_topic="current_velocity">
        <xacro:insert_block name="origin"/>
      </xacro:fin_quadratic_macro>
  </xacro:macro>

</robot>
